/* @import url("https://webfontworld.github.io/pretendard/Pretendard.css"); */

@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.8/dist/web/static/pretendard.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* index.css */

html,
body {
  font-family: "Pretendard";
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
}
